# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out/

.idea/

.terraform*
*terraform.tfstate*

deployment/assets/credentials/k8s/consumer/*-credential.json
deployment/assets/credentials/k8s/provider/*-credential.json

deployment/assets/credentials/local/consumer/*-credential.json
deployment/assets/credentials/local/provider/*-credential.json